<div id="user_menu">
  <ul>
    <li style="text-decoration: underline"><h3>Ärenden</h3></li>
    <li><a href="/user/knowledgebase"><h3>Vanliga Problem</h3></a></li>
  </ul>
</div>


<div id="user_issues_list">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Titel</th>
      <th>Status</th>
      <th>Senast uppdaterad</th>
    </tr>
    </thead>
    <tbody>
    <% for issue in @issues %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><a href="/user/issue/<%= issue.id %>"><%= issue.title %></a></td>
            <td><a href="/user/issue/<%= issue.id %>"><%= issue.status %></a></td>
            <td><a href="/user/issue/<%= issue.id %>"><%= issue.created_at.strftime('%Y-%m-%d') %></a></td>
         </tr>
    <% end %>
    </tbody>
  </table>
  <div id="add_user_issue">
    <a href="/issue/create"><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
      <i class="material-icons">add</i>
    </button></a>
  </div>
</div>
